p, .ei-faq-body {
    font-weight: 100;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	.photomanage{
	max-width: 100%!important;
}
.photomanagebottom{
	max-width: 100%!important;
}
/*.eg-how-work-section .how-work-mockup img{
	max-width: 100%!important;
    max-height: 500px;
    margin-top: -100px;
    padding: 70px 20px 20px 0px;
}*/
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.photomanage{
	max-width: 100%!important;
}
.photomanagebottom{
	max-width: 100%!important;
}
/*.eg-how-work-section .how-work-mockup img{
	max-width: 100%!important;
    max-height: 500px;
    margin-top: -100px;
    padding: 70px 20px 20px 0px;
}*/
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.photomanage{
	max-width: 605px!important	;
}
.photomanagebottom{
	margin-top: 290px;
	max-width: 530px!important;
}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.photomanage{
	max-width: 605px!important	;
}
.photomanagebottom{
	margin-top: 290px;
	max-width: 530px!important;
}
}

textarea::placeholder{
	padding-top:25px;
}
.site-logo.float-left img {
	margin-top: 02px;
    width: 130px!important;
}